<body class="bg-light">

<body data-spy="scroll" data-target="#ftco-navbar-spy" data-offset="0">

<div class="site-wrap">

  <nav class="site-menu" id="ftco-navbar-spy">
    <div class="site-menu-inner" id="ftco-navbar">
      <ul class="list-unstyled">
        <li><a href="#section-home">Home</a></li>
        <li><a href="#section-about">About Us</a></li>
        <li><a href="#section-catalog">Our Catalog</a></li>
        <li><a href="#section-reservation">Order Now</a></li>
        <li><a href="#section-contact">Contact</a></li>
      </ul>
    </div>
  </nav>

  <header class="site-header">
    <div class="row align-items-center">
      <div class="col-5 col-md-3">

      </div>
      <div class="col-2 col-md-6 text-center site-logo-wrap">
        <a href="index.html" class="site-logo">SnowDrop</a>
      </div>
      <div class="col-5 col-md-3 text-right menu-burger-wrap">
        <a href="#" class="site-nav-toggle js-site-nav-toggle"><i></i></a>
      </div>
    </div>

  </header> <!-- site-header -->

  <div class="main-wrap " id="section-home">

    <div class="cover_1 overlay bg-light">
      <div class="img_bg" style="background-image: url(<%= asset_path 'banner_bg.png' %>);" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10" data-aos="fade-up">
              <h2 class="heading mb-5">Welcome to Snowdrop Bathhouse</h2>
              <p><a href="#section-reservation" class="smoothscroll btn btn-outline-white px-5 py-3">Order Now</a></p>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .cover_1 -->

  </div> <!-- .section -->

  <div class="section pb-3 bg-white" id="section-about" data-aos="fade-up">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-lg-8 section-heading">
          <h2 class="heading mb-5">The Bathhouse</h2>
          <p>Formed from locally sourced and specially chosen ingredients, Here at Snowdrop we blend the perfect mixture of select herbs, breathtaking scents and naturally healing components to bring to you a new kind of soap.</p>
          <p>From moisturizing, to healing, or just to rejuvenate as you soak yourself in that bathtub with a glass of wine after a long day. We have it all. Just a simple order away.</p>
        </div>
      </div>
    </div>
  </div> <!-- .section -->


  <div class="section bg-white pt-2 pb-2 text-center" data-aos="fade">
    <p><img src="<%= asset_path 'bg_hero_snowdrop.png' %>" alt="Image" class="img-fluid"></p>
  </div> <!-- .section -->

  <div class="section bg-light" id="section-catalog" data-aos="fade-up">
    <div class="container">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Catalog</h2>
          <p class="sub-heading mb-5">Browse through what we have in stock for you</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <ul class="nav site-tab-nav" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-breakfast-tab" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="true">Face Healing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">Moisturizing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-dinner-tab" data-toggle="pill" href="#pills-dinner" role="tab" aria-controls="pills-dinner" aria-selected="false">Skin Detox</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">

              <div class="d-block d-md-flex menu-food-item">

                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_1.jpg' %>" alt="Image" style="display: none">
                  <h3><a href="#">Coconut Soap</a></h3>
                  <p>Infused with coconut oil to help remove dead skin cells and dirt away from the body.</p>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">

                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_pack_1.png' %>" alt="Image">
                  <h3><a href="#">Group Pack</a></h3>
                  <p>A group pack to act as the perfect gift for your friend or yourself.</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 1200</strong>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">
                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_regular_1.png' %>" alt="Image">
                  <h3><a href="#">XL Size</a></h3>
                  <p>This size gives you a long lasting experience for an amazing price.</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 500</strong>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">
                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_3.png' %>" alt="Image">
                  <h3><a href="#">Bath Fizzies</a></h3>
                  <p>This mini soap bar is for cleansing on the go, or for joining you on your relaxing bathtub</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 200</strong>
                </div>
              </div> <!-- .menu-food-item -->


            </div>
            <div class="tab-pane fade" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab">

              <div class="d-block d-md-flex menu-food-item">

                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_1.jpg' %>" alt="Image" style="display: none">
                  <h3><a href="#">Beer Soap</a></h3>
                  <p>This moisturizing bar works great on your face, hair and acts as a shaving cream!</p>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">

                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_pack_1.png' %>" alt="Image">
                  <h3><a href="#">Group Pack</a></h3>
                  <p>A group pack to act as the perfect gift for your friend or yourself.</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 1200</strong>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">
                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_regular_1.png' %>" alt="Image">
                  <h3><a href="#">XL Size</a></h3>
                  <p>This size gives you a long lasting experience for an amazing price.</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 500</strong>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">
                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_3.png' %>" alt="Image">
                  <h3><a href="#">Bath Fizzies</a></h3>
                  <p>This mini soap bar is for cleansing on the go, or for joining you on your relaxing bathtub</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 200</strong>
                </div>
              </div> <!-- .menu-food-item -->

            </div>
            <div class="tab-pane fade" id="pills-dinner" role="tabpanel" aria-labelledby="pills-dinner-tab">

              <div class="d-block d-md-flex menu-food-item">

                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_1.jpg' %>" alt="Image" style="display: none">
                  <h3><a href="#">Turmeric Soap</a></h3>
                  <p>Turmeric has anti-inflammatory properties that help reduce redness and calm irritation all the while
                  acting to disinfect and heal the skin</p>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">

                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_pack_1.png' %>" alt="Image">
                  <h3><a href="#">Group Pack</a></h3>
                  <p>A group pack to act as the perfect gift for your friend or yourself.</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 1200</strong>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">
                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_regular_1.png' %>" alt="Image">
                  <h3><a href="#">XL Size</a></h3>
                  <p>This size gives you a long lasting experience for an amazing price.</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 500</strong>
                </div>
              </div> <!-- .menu-food-item -->

              <div class="d-block d-md-flex menu-food-item">
                <div class="text order-1 mb-3">
                  <img src="<%= asset_path 'img_3.png' %>" alt="Image">
                  <h3><a href="#">Bath Fizzies</a></h3>
                  <p>This mini soap bar is for cleansing on the go, or for joining you on your relaxing bathtub</p>
                </div>
                <div class="price order-2">
                  <strong>Ksh 200</strong>
                </div>
              </div> <!-- .menu-food-item -->

            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- .section -->

  <div class="section bg-white services-section" data-aos="fade-up">
    <div class="container">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Other Services</h2>
          <p class="sub-heading mb-5">Just a few more reason why Snowdrop stands out from the rest</p>
        </div>
      </div>
      <div class="row">
        <div class="col-m mb-5d-6 col-lg-4" data-aos="fade-up">
          <div class="media feature-icon d-block text-center">
            <div class="icon">
              <span style="font-size: 48px; color: #ff7a5c;">
                <i class="fas fa-leaf"></i>
              </span>
            </div>
            <div class="media-body">
              <h3>Natural Elements</h3>
              <p>At Snow drop we strive to use natural products that only offer health
                benefits to both our customers and the environment</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="100">
          <div class="media feature-icon d-block text-center">
            <div class="icon">
              <span style="font-size: 48px; color: #ff7a5c;">
                <i class="fas fa-industry"></i>
              </span>
            </div>
            <div class="media-body">
              <h3>Locally Made</h3>
              <p>Every soap is manufactured here in the Kenya.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
          <div class="media feature-icon d-block text-center">
            <div class="icon">
              <span style="font-size: 48px; color: #ff7a5c;">
                <i class="fas fa-cloud-sun"></i>
              </span>
            </div>
            <div class="media-body">
              <h3>Free Delivery</h3>
              <p>Take advantage of free delivery for orders placed within Nairobi. We can deliver across Kenya at affordable prices.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="500">
          <div class="media feature-icon d-block text-center">
            <div class="icon">
              <span style="font-size: 48px; color: #ff7a5c;">
                <i class="fas fa-hand-holding-heart"></i>
              </span>
            </div>
            <div class="media-body">
              <h3>Same Day Delivery</h3>
              <p>Order in the morning and have your Snowdrop soap ready for you at home and indulge in an evening bath</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
          <div class="media feature-icon d-block text-center">
            <div class="icon">
              <span style="font-size: 48px; color: #ff7a5c;">
                <i class="fas fa-gift"></i>
              </span>
            </div>
            <div class="media-body">
              <h3>Special Offers</h3>
              <p>Follow our social media page and stay tuned for occasional promo content on our soap products. From freebies to
                buy one get two free packages. We have them all!</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="500">
          <div class="media feature-icon d-block text-center">
            <div class="icon">
              <span style="font-size: 48px; color: #ff7a5c;">
                <i class="fas fa-crown"></i>
              </span>
            </div>
            <div class="media-body">
              <h3>Customer Rewards</h3>
              <p>We value you! Our customer. Purchase your fifth Snowdrop Soap purchase at 50% off! Because we care.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- .section -->

  <div class="section bg-light" data-aos="fade-up" id="section-reservation">
    <div class="container">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Make an Order</h2>
          <p class="sub-heading mb-5">Ready to experience a new kind of refreshment?</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10 p-5 form-wrap">
          <p>Personal Details</p>
          <%= form_with model: @order do |form| %>
            <div class="row mb-4">
              <div class="form-group col-md-4">
                <%= form.label :name, class: "label" %>
                <div class="form-field-icon-wrap">
                  <%= form.text_field :name, class: "form-control", required: true %>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :phone, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-android-call"></span>
                  <%= form.text_field :phone, class: "form-control", required: true %>
                </div>
              </div>

              <div class="form-group col-md-4">
                <%= form.label :location, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-android-call"></span>
                  <%= form.text_field :location, class: "form-control", required: true %>
                </div>
              </div>
            </div>
            <p>Order Details</p>
            <div class="row">
              <div class="form-group col-md-4">
                <%= form.label :soap_type, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-android-arrow-dropdown"></span>
                  <%= form.select :soap_type, [['Turmeric', 'turmeric'], ['Beer', 'beer'], ['Coconut', 'coconut']], {}, { :class => 'form-control' } %>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :soap_size, class: "label" %>
                <div class="form-field-icon-wrap">
                  <%= form.select :soap_size, [['Group Pack', 'group_pack'], ['XL Size', 'xl_size'], ['Bath Fizzies', 'bath_fizzies']], {}, { :class => 'form-control' } %>
                  <span class="icon ion-android-arrow-dropdown"></span>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :quantity, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-calendar"></span>
                  <%= form.number_field :quantity, class: "form-control", required: true %>
                </div>
              </div>
            </div>
            <p></p>
            <div class="row justify-content-center">
              <div class="col-md-4">
                <%= form.submit "Place Order", class: "btn btn-outline-primary btn-block" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- .section -->

  <div class="section bg-white"  data-aos="fade-up">
    <div class="container">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Customer Reviews</h2>
        </div>
      </div>
      <div class="row justify-content-center text-center" data-aos="fade-up">
        <div class="col-md-8">
          <div class="owl-carousel home-slider-loop-false">


            <div class="item">
              <blockquote class="testimonial">
                <p>&ldquo;I've used Snowdrop Bathhouse products for nearly an year now. And I can't picture using any other soap on my beautiful face. Keep up the good work guys.&ldquo;</p>
                <div class="author">
                  <img src="<%= asset_path 'person_3.jpg' %>" alt="Image placeholder" class="mb-3">
                  <h4>Jane Nyambura</h4>
                  <p>Regular Customer</p>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote class="testimonial">
                <p>&ldquo;I've used turmeric soap on my face for less than a month now and I can already see it work!! I have no idea how you guys did it, but my face is clearing up.&rdquo;</p>
                <div class="author">
                  <img src="<%= asset_path 'person_3.jpg' %>" alt="Image placeholder" class="mb-3">
                  <h4>Alice Njeri</h4>
                  <p>First Time User</p>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote class="testimonial">
                <p>&ldquo;My friend Jude told me to try this soap as a gift. I was skeptical at first, but I have to give it to you guys. Those baths leave me so much more fresh after a long day. Kudos.&rdquo;</p>
                <div class="author">
                  <img src="<%= asset_path 'person_3.jpg' %>" alt="Image placeholder" class="mb-3">
                  <h4>Mary Nyaboke</h4>
                  <p>Customer</p>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .section -->

  <div class="section" data-aos="fade-up" id="section-contact">
    <div class="container">
      <div class="row section-heading justify-content-center mb-5">
        <div class="col-md-8 text-center">
          <h2 class="heading mb-3">Get In Touch</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-10 p-5 form-wrap">
          <%= form_with model: @contact do |form| %>
            <div class="row mb-4">
              <div class="form-group col-md-4">
                <%= form.label :name, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-android-person"></span>
                  <%= form.text_field :name, class: "form-control", required: true %>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :email, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-email"></span>
                  <%= form.email_field :email, class: "form-control", required: true %>
                </div>
              </div>
              <div class="form-group col-md-4">
                <%= form.label :phone, class: "label" %>
                <div class="form-field-icon-wrap">
                  <span class="icon ion-android-call"></span>
                  <%= form.text_field :phone, class: "form-control", required: true %>
                </div>
              </div>

              <div class="form-group col-md-12">
                <%= form.label :message, class: "label" %>
                <!--<textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>-->
                <%= form.text_area :message, class: "form-control", cols: 30, rows: 10, required: true %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-4">
                <input type="submit" class="btn btn-outline-primary btn-block" value="Send Message">
              </div>
            </div>
          <% end %>
          <form action="#">
          </form>
        </div>
      </div>
    </div>
  </div> <!-- .section -->

  <div class="section map-wrap" id="map"  data-aos="fade-up"></div>


  <footer class="ftco-footer">
    <div class="container">

      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="footer-widget">
            <h3 class="mb-4">About Snowdrop</h3>
            <p>Started in 2017, We are a small Kenyan company that focuses on making natural and terrific scented bath products which are suited for the African woman.</p>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="footer-widget">
            <h3 class="mb-4">Office Service</h3>
            <p>Call us from 8:00am &mdash; 5:00pm</p>
            <h3 class="mb-4">Delivery Service</h3>
            <p>Weekdays: <br> From 10:00am &mdash; 3:30pm</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="footer-widget">
            <h3 class="mb-4">Follow Along</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="https://www.instagram.com/snowdrop_bathhouse/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="footer-widget">
            <h3 class="mb-4">Newsletter</h3>
            <form action="#" class="ftco-footer-newsletter">
              <div class="form-group">
                <button class="button"><span class="fa fa-envelope"></span></button>
                <input type="email" class="form-control" placeholder="Enter Email">
              </div>
            </form>
          </div>
        </div>

      </div>

      <div class="row pt-5">
        <div class="col-md-12 text-center">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>

</div>

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff7a5c"/></svg></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>