<!DOCTYPE html>
<html>
  <head>
    <title>Snowdrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'jquery-3.2.1.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery-migrate-3.0.1.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'popper.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'owl.carousel.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.waypoints.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'bootstrap-datepicker', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.timepicker.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.stellar.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery.easing.1.3', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'aos', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
</html>
